@import url('https://fonts.googleapis.com/css2? family=Roboto:ital,wght@0,300;0,700;1,300;1,400&display=swap');

*{
 padding: 0;
 margin: 0;
box-sizing: border-box; /*borra todo los estilos del navegdor*/
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
}

body{
    font-family: sans-serif;
    font-size: 300;
}

.home-body{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/**    HEADER
===================== */

.header{
    width: 100%;
    min-height: 70px;
    display: grid; /*crea dos fila */
    grid-template-rows: 1fr 1fr; /* crea las filas */
   /* grid-template-columns: 1fr 1fr 1fr;  crea columnas */
}

.social{
    background-color: #e6162e;
    width: 100%;
    height: 50px;
    display: grid;
}


.social-icons{
    width: 250px;
    height: auto;
    display: flex; /* acopla los items */
    align-items: center;
    justify-content: space-between;
    justify-self:flex-end ; /* mueve los iconos hacia la izquierda, centro o derecha del navegador */
    margin-right: 50px;
}

.social-icons a{
    color: #fff;
    font-size: 30px; /*cambia el tamaño de los iconos */
}

.social-icons a:hover{
  color: #616161; /* realiza efecto al posicionarte en los iconoes */
}

.nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80px;
}

.logo{
    margin-left: 50px;
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
    margin-top: 10px;
}

.nav-link{
    display: flex;
    align-items:flex-start;
    justify-content: flex-end; /*agrega al final de la derecha*/
    margin-right: 50px;
}


.nav-link1{
    display: flex;
    text-decoration: none;
    text-align: end;
    justify-content: flex-end;
    color: #000;
    margin-right: 20px;
}

.nav-link1:hover{
    color: #2525f8
}

.nav-link2{
    display: flex;
    text-decoration: none;
    justify-content: flex-start;
    grid-column-start: initial;
    color: #000;
      
}

.nav-link2:hover{
    color: #2525f8;
}

/**    BOTON DE WHATSAPP
===================== */

.btn-wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background-color: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
}

.btn-wsp:hover{
    text-decoration: none;
    color: #0df053;
    background-color: #fff;
}

/**    MAIN DEL HOME
===================== */

.home-main{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 80%;
}

.main-container{
    display: grid;
    grid-column: 2; /* mueve el texto de la primer columna a la segunda*/
    justify-items: center;
    height: 350px;
}

.main-container__text{
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    letter-spacing: 5px;
    color: #000;
    margin: 20px;
    margin-bottom: 0px;
}

.main-container__link{
    margin-top: 30px;
    background-color: #e6162e;
    display: flex;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    height: 45px;
}

.main-container__link:hover{
    background-color: #eb253c;
}

/**    PAGINA DE BLOG
===================== */ 

.blogs-main{
  display: grid;
}

.news{
    background-color: #e6e9ed;
    padding: 20px;
}

.news-content{
    grid-template-columns: auto auto;
}

.news-content img{
    width: 90%;
    padding: 10px;
}

.news-info{
    grid-column: 2;
}

.news-info h2{
    margin-top: 20px;
}

.news-info p{
    margin: 30px 0;
}

/**    BOTON DE BLOGs
===================== */

.blogs-btn{
    text-decoration: none;
    color: #000;
    border: 1px solid #e6162e;
    padding: 10px 15px;
    font-size: 14px;
}

/**    POSTS
===================== */

.posts{
    padding: 20px;
}

.posts h3{
    border-bottom: 1px solid #cdd2da;
    padding: 20px 0;
    text-align: center;
}

.posts-blog{
    display: inline-block;
    padding: 15px;
    max-width: 45%;
    margin-bottom: 50px;
}

.posts-blog img{
    width: 100%;
}

.posts-blog h4{
    margin: 20px 0;
}

.posts-blog p{
    margin-bottom: 35px;
}

/**    FOOTER
===================== */

footer{
width: 100%;
height: 80px;
background-color: #22272d;
border-top: 35px solid #e6162e;
display: flex;
align-items: center;
justify-content: center;
}

footer p{
    color: #fff;
    text-align: center;
}

/**    BLOG
===================== */

.main-blog{
    padding: 20px
}

.main-blog__content img{
    padding: 0;
}

.blog-content__article{
    padding: 0;
}

.blog-content__article h4{
    border-bottom: 1px solid #cdd2da;
    padding: 20 px 0;
}

.blog-content__article h1{
    margin: 20px 0;
    font-size: 35px;
}

/**    SECCION DE CONTACTO
===================== */

.section-contact{
    padding: 20px;
}

.contact{
    display: grid;
    margin: 0;
}

.contact img{
    width: 100px;
    display: inline-block;
    padding: 10px;
}

.contact-info{
    padding: 20px 0;
    width: 300%;
}

.contact-info a{
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

.contact-info p{
    margin-top: 10px;
}

/**    PERFIL
===================== */

.profile{
    padding: 20px;
}

.profile img{
 width: 90%;
}

.profile p{
    margin-bottom: 35px;
}

.projects-container{
    padding: 20px;
}

.projects-container h3{
    border-bottom:  1px solid #cdd2da;
    padding: 20px 0;
    text-align: center;
}

.project{
    max-width: 45%;
    text-align: center;   
}

.project h4{
    margin: 20px 0;
}

.project p{
    margin-bottom: 35px;
}

/* WEB RESPONSIVO */

@media screen and (max-width: 1060px){
    .posts{
        padding: 20px;
    }
}
@media screen and (max-width: 800px){
    /*Pagina de Inicio */

    /*Página de BLOGS */
    .news{
        padding: 20px;
    }
    .news-content{
        grid-template-columns: auto auto;
    }
    .news-content img{
        width: 90%;
        padding: 10px;
    }

    .posts-blog{
        max-width: 45%;
    }
    

    /*Página de Blog*/
    .main-blog{
        padding: 20px;
    }
    .main-blog__content img{
        padding: 0;
    }
    .blog-content__article{
        padding: 0;
    }

    .section-contact{
        padding: 20px;
    }
    .contact{
        display: grid;
        margin: 0px;
    }

    /*Página de Perfil*/
    .profile{
        padding: 20px;
    }

    .profile-img img{
        width: 90%;
    }

    .projects-container{
        padding: 20px;
    }
    .project{
        max-width: 45%;
        text-align: center;
    }
}

@media screen and (max-width: 500px){
    /*Pagina de Inicio */
    .social-icons{
        width: 100%;
        padding: 0 5px 0;
        margin: 0;
    }
    .nav-logo{
        display: flex;
        align-items: center;
    }
    .nav-logo, .nav-link{
        margin-right: 10px;
        margin-left: 10px;
    }
    .nav-logo img{
        width: 150px;
    }

    .main-container__text{
        font-size: 25px;
    }

    /*Página de BLOGS */
    .blogs-main{
        padding: 0;
    }
    .news{
        width: 100%;
        padding: 10px;
    }
    .news-content{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }
    .news-content img{
        grid-row: 2;
    }
    .news-content .news-info{
        grid-row: 3;
        grid-column: 1;
    }
    .posts{
        width: 100%;
        padding: 10px;
    }
    .posts-blog{
        max-width: 100%;
    }

    /*Página de Blog*/
    .main-blog{
        padding: 10px;
    }
    .main-blog__content img{
        padding: 0;
    }
    .blog-content__article{
        padding: 0;
    }

    .section-contact{
        padding: 10px;
        display: grid;
    }
    .contact{
        display: grid;
        margin: 0px;
    }

    /*Página de Perfil*/
    .profile{
        padding: 10px;
        display: grid;
    }

    .profile-img img{
        width: 100%;
    }

    .projects-container{
        padding: 10px;
    }
    .project{
        padding: 0;
        max-width: 100%;
        text-align: center;
    }
}